/* common css start */
*{
    margin:0;
    padding:0;
    outline:0;
    box-sizing:border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: #7e8287;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,b,a,button{
    font-weight: 800;
}
.container{
    width: 1170px;
    margin:0 auto;
}
.row{
    display:flex;
    flex-wrap: wrap;
}
.section_info{
    text-align: center;
    margin-bottom: 80px;
}
.section_info h2{
    font-size: 46px;
    text-transform: uppercase;
    color: #02918c;
}
.section_info p{
    font-size: 16px;
    line-height: 41px;

}
.section_item{
    width: 25%;
    text-align: center;
    padding:36px 65px;
    border-right:1px solid #d9dbdb;
}
.section_item:last-child{
    border-right-color: transparent;
}
.section_item h3{
    font-size: 16px;
    line-height: 23px;
    padding:29px 0;
}
.section_item p{
    font-size: 11px;
    line-height: 21px;
}
/* common css end */
/* nav css start */
nav{
    background-color: #02918c;
}
nav .row{
    justify-content: space-between;
    align-items:center;
}
nav div ul li a{
    text-transform: uppercase;
    display: inline-block;    
    padding:26px 25px;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 800;
    color:#fff;
    transition: 0.4s;
}
nav div ul li a:hover{
    color:#0b1016;
    background-color: #cfc91d;

}
/* nav css end */
/* banner css start */
#banner{
    background-image: linear-gradient(rgba(0,0,0,0.68), rgba(0,0,0,0.75)), url(../Images/hero_img.jpg);
    height: 728px;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
#banner h3{
    font-size: 30px;    
}
#banner h1{
    font-size: 68px;
    letter-spacing: 30px;
    text-transform: uppercase;
}
#banner p{
    font-size: 18px;
    line-height:33px
}
#banner img{
    display:block;
    margin:52px auto;
}
#banner a{
    display:inline-block;
    background-color: #cfc91d;
    padding: 17px 42px;
    color:#0b1016;
    letter-spacing: 2px;
    transition: 0.4s;
}
#banner a:hover{
    color:#fff;
    background-color: #02918c;
}
/* banner css end */
/* about css start */
#about{
    padding:98px 0;
}
#about .section_info{
    padding: 0 137px;
}
#about .section_info p b{
    font-size:23px;  
}

/* about css end */
/* service css start */
#service{
    background-color: #f0f0e8;
    background-image: linear-gradient(rgba(255,255,255,0.68), rgba(255,255,255,0.75)), url(../Images/service_img.jpg);
    background-repeat: no-repeat;
    background-position: right ;
    padding:74px 0;
}
#service .inner_container{
    width:50%;
}
#service .section_info{
    text-align: left;
}
#service .inner_container .service_items .section_item{
    width: 50%;
    padding:56px 0;
    padding-right:126px;
    text-align: left;
    border: none;
}
#service .inner_container .service_items .service_item h3{
    font-size: 16px;
    line-height: 23px;
    padding:21px 0;
}
#service .inner_container .service_items .service_item p{
    font-size: 11px;
    line-height: 21px; 
}
/* service css end */
/* my work css start */
#my_work{
    padding:110px 0;
}
#my_work .container{
    text-align: center;
    padding:0 237px;
}

#my_work .mywork_photos .photo{
    width: 25%;
}
#my_work .mywork_photos img{
    display:block;
    height: 100%;
    width: 100%;
}

/* my work css end */
/* contact css start */
#contact .containter{
    padding:0 237px;
}
#form {
    background-color: #0b0b0b;
    padding: 70px 0;
}
#form input,textarea{
    display: block;
    margin: 0 auto;
    background: none;
    border:none;
    border-bottom: 1px solid #898989;
    padding: 18px 0;
    font-size: 16px ;
    text-align: center;
    line-height: 41px;
    margin-bottom: 55px;
}
#form .small-width{
    width: 637px;
}
#form .large-width{
    width:937px;
}
#form textarea{
    resize: none;
}
#form button{
    background-color: #cfc91d;
    padding:17px 65px;
    display: block;
    margin: 0 auto;
    font-size: 14px;
    line-height: 30px;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}
#form button:hover{
    color:#fff;
    background-color: #02918c;
}
/* contact css end */